<%- include('layout') %>

<h2>Posts for <%= user.name %></h2>
<ul>
    <% posts.forEach(function(post) { %>
        <li>
            <strong><%= post.text %></strong>
            <p><%= post.timestamp.toLocaleString() %></p>
            <p>Likes: <%= post.likes %></p>
        </li>
    <% }) %>
</ul>

<a href="/">Tilbage til hjem</a>
